* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: lightgreen;
}

ul {
  list-style: none;
}

section {
  padding: 200px 0;
  height: 1000px;
}

.container {
  max-width: 80%;
  padding: 0 15px;
  margin: 0 auto;
}

header {
  position: fixed;
  width: 100%;
  background-color: hotpink;
  padding: 20px 0;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav > img {
  width: 100px;
}

.header__nav .nav {
  display: flex;
  column-gap: 30px;
}

.header__nav li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  text-transform: capitalize;
}
